/*Body formatting*/
body
{
    background-color: black;
    color: white;
}

/*Logo formatting(top left)*/
.Logo
{
    background: black;
    border: none;
    display: inline-block;
    padding-left: 10px;
}

.Logo img
{
    border-radius: 25px;
    background-color: black;
    background: black;
}

/*About Me section*/
.About-Me
{
    text-align: center;
    background-color: rgb(16, 15, 15);
    border-radius: 25px;
    
}

.About-Me.fade-in
{
    opacity: 0; /* Initially hidden */
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn 
{
    from {
      opacity: 0;
      transform: translateY(20px); /* Optional: Slight slide-up */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

/*Intro section*/
.Intro
{
    background-color: rgb(16, 15, 15);
    border-radius: 25px;
    max-width: 100%;
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.Intro p
{
    flex: 1;
    margin: 0;
}

/*Looking for section*/
.Looking p 
{
    text-align: right;
}

.Looking h1
{
    margin-left: 20px;
}

.Looking
{
    background-color: rgb(16, 15, 15);
    border-radius: 25px;

}

.Looking h1
{
    font-size: 60px;
    font-family: 'Nunito'; 
}

/*Projects section*/
.Projects
{
    background-color: rgb(16, 15, 15);

}

.Projects h1
{
    margin-left: 20px;
}

.Project-Icons
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allows wrapping of images */
}

.Projects img
{
    margin: 40px;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    border-radius: 10px;
}

.Projects img:hover
{
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px white;
}

/*Languages Section*/
.Languages
{
    background-color: rgb(16, 15, 15);
    border-radius: 25px;
}

.Languages h1
{
    margin-left: 20px;
}

.Languages img
{
    margin: 10px;
    display: block;
}

.Language-Icons
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Languages img:hover 
{
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

/*Contact section*/
.Contact
{
    background-color: rgb(16, 15, 15);
    border-radius: 25px;
    text-align: center;
}

a img
{
    margin: 10px;
    border: none;
    width: 40px
}

a
{
    text-decoration: none;
}