body
{
    background-color: black;
    color: white;
}

.container
{
    max-width: 1500px;
    margin: auto;
    padding: 20px;
    /*background-color: rgb(120, 237, 174);*/
    border-radius: 25px;
}

.logo
{
    background: none;
    border: none;
}

.logo img
{
    border-radius: 25px;
}

.navbar
{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 160px;
}

.nav-links
{
    display: flex;
    align-items: center;
    padding-left: 70%;
}


.nav-links ul
{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li
{
    margin-left: 20px;
}

.nav-links a
{
    color: black;
}

.About-Me
{
    text-align: center;
    background-color: rgb(16, 15, 15);
    border-radius: 25px;
    
}

.Intro
{
    background-color: rgb(16, 15, 15);
    border-radius: 25px;
}

.Looking
{
    background-color: rgb(16, 15, 15);
    border-radius: 25px;

}

.Projects
{
    background-color: rgb(16, 15, 15);

}

.Contact
{
    background-color: rgb(16, 15, 15);
    border-radius: 25px;
    text-align: center;
}
